@import "tailwindcss";

:root {
  /* --background: hsl(60, 20%, 97%); */
  --background: hsl(0, 0%, 100%);
  --accent: hsl(243, 8%, 55%);
  --foreground: hsl(240, 8%, 15%);
  --purple: hsl(264, 100%, 62%);
  --orange: hsla(30, 82%, 78%, 1);
  --background-accent: hsl(32, 43%, 93%);
  --font-hkgrotesk: "HK Grotesk", sans-serif;
  --font-inter: "Inter Tight", sans-serif;
  --font-big: clamp(2rem, 4vw, 3.75rem);
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --color-purple: var(--purple);
  --color-orange: var(--orange);
  --color-background-accent: var(--orange);
  --font-hkgrotesk: "HK Grotesk", sans-serif;
  --font-inter: "Inter Tight", sans-serif;
  --text-big: var(--font-big);
}

.dark {
  /* --background: hsl(226, 51%, 8%); */
  --background: hsl(0, 0%, 5%);
  --accent: hsl(216, 4%, 23%);
  --foreground: hsl(223, 100%, 99%);
  --purple: hsl(264, 100%, 62%);
  /* --orange: hsl(3, 100%, 59%); */
  --orange: rgb(70, 44, 14);
  --background-accent: rgb(25, 14, 27);
  --font-hkgrotesk: "HK Grotesk", sans-serif;
  --font-inter: "Inter Tight", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--background);
  background: radial-gradient(
    var(--background) 50%,
    var(--background-accent) 85% /* var(--) 100% */
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}

#root {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
